# KDE Config File  
[Desktop Entry]
Type=Application
Exec=tleenx2 
Icon=/usr/share/tleenx2/pixmaps/tleenx.png
MiniIcon=/usr/share/tleenx2/pixmaps/tleenx.png
Comment=Tlen.pl client for gtk+2
Comment[pl]=Klient Tlen.pl dla gtk+2
Terminal=0
Name=TleenX2
