[Desktop Entry]
Name=TleenX2
Comment=Tlen.pl client for gtk+2
Comment[pl]=Klient Tlen.pl dla gtk+2
Exec=tleenx2 
Icon=/usr/share/tleenx2/pixmaps/tleenx.png
MiniIcon=/usr/share/tleenx2/pixmaps/tleenx.png
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
# vi: encoding=utf-8
